
.user-list {
    display: flex;
    justify-content: space-between;
    border: 1px solid #bbb1b1;
    margin: 0;
    list-style: none;
    
}
.user-list-head {
    font-weight:800;
    font-size: 20px;
    
}